@import "tailwindcss";

*{
    font-family: Arial, Helvetica, sans-serif;
 
}

.card-bg{
    background-color: #49BBBD;
}
.btn-border{
    border: 2px solid #49BBBD;
}
.btn-bg{
    background-color: #49BBBD;
}
.clr{
    color: #49BBBD;
}
body{
  overflow-x: hidden;
}

/* styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
